@import "null.css";

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Lato", "sans-serif";
	font-weight: 400;
	line-height: 1.6;
	font-size: 16px;
	color: #424551;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	max-width: 810px;
	margin: 0 auto;
}

.main-1 {
	font-size: 46px;
	font-weight: 900;
	color: #1e212c;
	line-height: 1.3;
	margin-bottom: 24px;
}

.data {
	color: #787a80;
	background: url("../img/Vector\ \(Stroke\).png") 0 2px / 16px 16px no-repeat;
	padding-left: 24px;
	display: inline-block;
	margin-bottom: 40px;
}

.time {
	color: #787a80;
	background: url("../img/Union.png") 0 3px no-repeat;
	display: inline-block;
	margin-left: 15px;
	padding-left: 23px;
	margin-bottom: 40px;
}

.image {
	margin-bottom: 60px;
	border-radius: 4px;
}

.text-1 {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.5;
	color: #1e212c;
	margin-bottom: 24px;
}

.text-2 {
	margin: 0px 0px 60px 0px;
}

.text-2 .paragraph-1 {
	margin-bottom: 38px;
}

.text-3 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
	color: #1e212c;
	background: url("../img/Rectangle 267.png") 0 0 no-repeat, url("../img/Rectangle 267.png") 18px 0 no-repeat;
	padding-left: 58px;
	margin-bottom: 51px;
}

.text-4 {
	margin-bottom: 24px;
}

.list {
	margin-bottom: 24px;
}

.item-list {
	margin-bottom: 4px;
	background: url("../img/Vector.png") 0 4px no-repeat;
	padding-left: 32px;
	min-height: 16px;
}

.text-5 {
}
